@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.col-span-1 {
    grid-column: span 1 / span 1;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.col-span-3 {
    grid-column: span 3 / span 3;
}

.col-span-6 {
    grid-column: span 6 / span 6;
}

.col-start-1 {
    grid-column-start: 1;
}

.col-start-2 {
    grid-column-start: 2;
}

.col-end-3 {
    grid-column-end: 3;
}

.col-end-2 {
    grid-column-end: 2;
}

.text-blue-500 {
	color: rgb(59 130 246);
}

.text-red-500 {
    color: rgb(239 68 68);
}

@media (min-width: 768px) {
    .md:col-span-3 {
        grid-column: span 3 / span 3;
    }

    .md:col-span-2 {
        grid-column: span 2 / span 2;
    }

    .md:flex-row {
        flex-direction: row;
    }

    .md:taxt-base {
        font-size: 1rem;
        line-height: 1.5rem
    }

    .md:py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}